{
    "presets": [
        [
            "next/babel",
            {
                "babel-plugin-inline-import": {
                    "extensions": [
                        ".wgsl"
                    ]
                }
            }
        ]
    ],
    "plugins": []
}
  